/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

/* Primeira parte */

.body-one {
  background-color: #73462C;
  height: 350px;
}

.header {
  display: flex;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
}

.logo {
  flex: auto;
  display: flex;
  align-items: center;
  color: #F2A03D;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  margin-right: auto;
}

.logo .kledrender {
  flex-direction: row;
  width: 40px;
  width: 40px;
}

.txt-thebigkled {
  font-weight: bolder;
}

.links {
  display:flex;
  gap: 20px;
}

.links a {
  font-weight: 900;
  color: #F2A03D;
  text-decoration: none;
}

.presentation {
  display: flex;
  flex: auto;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  padding: 20px;
}

.textohere {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.title {
  font-weight: 900;
  font-size: 20px;
  color: #F2A03D;
}

.shor-info {
  font-weight: 300;
  color: whitesmoke;
  text-align: justify;
}

.buttom {
  margin-top: 5px;
}

.buttom button {
  background-color: #222226;
  border-color: #55181f;
  border-radius: 10px;
  padding: 5px;
}

.buttom a {
  color: black;
  text-decoration: none;
  color: #F2A03D;
  font-weight: 900;
}

.image01 {
  display: flex;
}

.image01kled {
  width: 300px;
  height: 200px;
  border-radius: 20px;
}

/* Segunda parte */

.body-dois {
  background-color: #481d0c;
  height: 400px;
}

.otr-camp {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  color: #F2A03D;
  padding: 20px
}

.caixa{
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;
  align-items: center;
}

.caixas {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.quadrado {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 180px;
  border: 4px solid #F2A03D;
  border-radius: 20px;
}

.titulo-quadrado {
  padding: 10px;
  color: whitesmoke;
  font-weight: 300;
}

.img-ajustes {
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: 60%;
  border-radius: 20px;
}

.body-tres {
  display: flex;
  background-color: #73462C;
  height: 40px;
  color: whitesmoke;
  align-items: center;
  justify-content: center;
}

